@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f1424;
  color: white;
  margin: 0;
  overflow: auto hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-width: 832px;
}

.profile, .tracker {
  background: #1c1f4a;
  border-radius: 0.5rem;
}

.profile {
  margin: 0.6rem;
  padding-bottom: 18%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  background: #5847eb;
  border-radius: inherit;
  height: 55%;
  padding: 15%;
  padding-bottom: 20%;
  font-size: 0.8rem;
  color: #bdc1ff;
}

.profile__info__pic {
  border: 3px solid white;
  border-radius: 50%;
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}

.profile__info__main h1 {
  color: white;
  font-size: 230%;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

.chooseTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2rem 0;
}
.chooseTime button {
  font-size: 0.8rem;
  font-family: inherit;
  border: none;
  color: #6f76c8;
  background: transparent;
  margin: 0.5rem 1rem;
  transition: 0.3s;
}
.chooseTime button:hover {
  color: white !important;
  cursor: pointer;
}

.trackers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tracker {
  margin: 0.6rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 33%;
  background-position: top -1px right 10px;
}

#workTracker {
  background-color: #ff8c66;
  background-image: url("./images/icon-work.svg");
}

#playTracker {
  background-color: #56c2e6;
  background-image: url("./images/icon-play.svg");
}

#studyTracker {
  background-color: #ff5c7c;
  background-image: url("./images/icon-study.svg");
}

#exerciseTracker {
  background-color: #4acf81;
  background-image: url("./images/icon-exercise.svg");
}

#socialTracker {
  background-color: #7536d3;
  background-image: url("./images/icon-social.svg");
}

#careTracker {
  background-color: #f1c65b;
  background-image: url("./images/icon-self-care.svg");
}

.tracker__main {
  background: #1c1f4a;
  position: relative;
  top: 18%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1.3rem;
  transition: background-color 0.3s;
}
.tracker__main:hover {
  background-color: #35397a;
  cursor: pointer;
}

.tracker__header {
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}

.tracker__options {
  position: absolute;
  width: 1.5rem;
  height: auto;
  top: 40%;
  left: 85%;
  transition: 0.3s;
}
.tracker__options:hover {
  filter: brightness(500%);
}

.tracker__currTime {
  font-size: 2.5rem;
}

.tracker__prevTime {
  font-size: 0.7rem;
  color: #bdc1ff;
  margin-top: 1rem;
}

@media screen and (max-aspect-ratio: 1/1) {
  body {
    overflow: auto;
    align-items: initial;
  }

  main {
    grid-template-columns: 1fr;
    min-width: 340px;
    width: 50vw;
  }

  .profile {
    padding-bottom: 6%;
  }

  .profile__info {
    padding: 5%;
    flex-direction: row;
    align-items: center;
  }

  .profile__info__pic {
    width: 20%;
    height: fit-content;
    margin-bottom: 0;
  }

  .profile__info__main {
    margin-left: 1rem;
  }
  .profile__info__main h1 {
    font-size: 200%;
  }

  .chooseTime {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 0.5rem;
  }

  .trackers {
    grid-template-columns: 1fr;
  }

  .tracker {
    background-size: 25%;
  }

  .tracker__main {
    top: 22%;
  }

  .tracker__header {
    margin-bottom: 0;
  }

  .tracker__currTime {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .tracker__prevTime {
    position: absolute;
    left: 61%;
    top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
